header {
  display: flex;
  padding-left: 15%;
  margin: 1%;
  flex-wrap: wrap;
}

ul{
  list-style-type: none;
}

img{
  border-radius: 16px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
  width: 100%;
  padding-left: 5%;
  margin-left: 3%;
  padding-right: 20%;
}

#hero{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  background-color: #495e57;
}

#hero img{
  width: 14em;
  margin-top: 2%;
  margin-bottom: 2%;
  height: auto;
}

#texts{
  display: flexbox;
  flex-direction: column;
  padding-left: 16%;
  align-items: flex-start;
}

#texts h2{
  margin-top: -2%;
}

#texts p{
  max-width: 45%;
}

#specials{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  padding-left: 16%;
  padding-right: 15%;
}

#specials button{
  position: relative;
  margin-left: 87%;
  top: -52px;
}

#testimonials{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f4ce14;
  align-items: center;
  justify-items: center;
}

#about{
  display: flex;
  flex-direction: column;
  padding-left: 16%;
}

#about img{
  display: flex;
  width: 12em;
  border-radius: 16px;
  height: auto;
  position: relative;
  margin-left: 16%;
  margin-top: -30px;
}

footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: #495e57;
  color: #ffffff;
}

footer img{
  object-fit: contain;
  display: block;
  width: 18%;
  height: auto;
}

#uls{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

figcaption{
  padding-left: 31%;
}